.App {
    text-align: center;
    font-size: calc(15px + 0.5vw);
}

.letterButton {
    width: calc(25px + 0.5vw);
    height: calc(25px + 0.5vw);
        font-size: calc(10px + 0.5vw);

}

.guessing {
    font-size: calc(20px + 1vw);
    font-weight: bold;
}

.guessesRemaining {
    background-color: rgba(47, 231, 255, 0.345);
    padding: 1vw;
}

.won {
    background-color: rgba(172, 255, 47, 0.345);
    padding: 1vw;
}

.lost {
    background-color: rgba(255, 0, 0, 0.399);
    padding: 1vw
}

ol {
    text-align: left;
    font-size: calc(12px + 0.5vw);
    margin: 0 auto;
    width: fit-content
}